<!--footer.html-->
<!--每个网页的共享页尾-->
<br>
==============================================================================================================
<ul>
        <li><a href="/accounts/">用户登录demo</a></li>
        <li><a href="/file/">文件上传demo</a></li>
        <li><a href="/picture/">图片上传demo</a></li>
        <li><a href="/requestdemo/">显示客户端信息demo</a></li>
        <li><a href="/requestdemo/testfind/">查询数据库demo</a></li>
        <li><a href="/">Home</a></li>
</ul>
==============================================================================================================
<p style = 'font-family: 微软雅黑;' align='center'><span style="color:rgb(0, 174, 255);"> 北京时间: {{ time|date:"Y M d,h:m:s" }} </span></p>
<p style = 'font-family:微软雅黑;font-size: 10pt;font-weight: bold;' align='center'><span style="color:rgb(0, 174, 255);">Vpen</span></p>
